body {
    font-family: "Calibri";
    font-size: 20px;
    background-color: azure;



}

h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #695ced;
    font-weight: bold;
}

h1 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 13px;
}

p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

ol {
    font-size: 20px;
    list-style-type: disc;
    padding: 5px 5px 5px 25px;
    line-height: 30px;
}

ul {
    font-size: 20px;
    list-style-type: disc;
    padding: 5px 5px 5px 25px;
    line-height: 30px;
}

a {
    text-decoration: underline;
    color: #262626;
}

table,
td,
th {
    margin: auto;
    margin-top: 20px;
    border: 2px solid #191a19d3;
    border-collapse: collapse;
    padding: 5px;
/*
    background-color: #85a19f;
    color: #FFE6D3;
*/

}

.about_clan {
    background: #57c1d99b;
    padding: 5px;
    margin: 10px 0px;
    line-height: 30px;
/*    border-radius: 20px;*/
}

.how_join {
    background: #63eb9086;
    padding: 5px;
    margin: 10px 0px;
    line-height: 30px;
/*    border-radius: 20px;*/
}

.rules {
    background: #f58c8c86;
    padding: 5px;
    margin: 10px 0px;
/*    border-radius: 20px;*/
}

.logo {
/*
    border: 1px solid red;
    border-radius: 5px;
    width: auto;
*/
    margin: 10px 0px 0px 0px;
}

.body {
    max-width: 900px;
    margin: 0 auto;


}
 
.marg{
    height:40px;
    background: #2f3030;
}

.tournament_p{
    margin: 10px 0px;
    background-color: #97eb63bf;
    padding: 10px
}

.tournament_role{
    color: #ffd700;
    background-color: #33363d;
    padding: 3px;
        
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style-type: none;
    border: 1px solid #2f3030;
    background-color: #2f3030;
    padding: 0px;
    text-align: center;
    width: 100%;
    position: fixed;
    max-width: 900px;
    line-height: 20px;

}

.menu a {
    display: block;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    margin: auto;
    text-decoration: none;

}

.menu a:hover {
    background-color: antiquewhite;
    color: #2f3030;
    display: block;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
}

.menu a.this_page{
    background-color: antiquewhite;
    color: #2f3030;
    display: block;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
}

.menu a:not(hover) {
    transition: 0.3s;
    text-decoration: none;
}

/*
.menu a.radius-left {
    border-radius: 20px 0px 0px 20px;
}

.menu a.radius-right {
    border-radius: 0px 20px 20px 0px
}
*/
