body{
    font-family:"Calibri";
    font-size: 20px;
    background-image: url(images/background_body.jpg);
    
}

h2, h3, h4, h5, h6{
    margin: 0;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #695ced;
}

h1{
    margin: 0;
    padding: 2px;
    text-align: center;
}

p{
    margin:0;
    font-size: 20px;
}

ol{
    font-size: 20px;
}

a{
    text-decoration: none;
    color:#262626;
}

.about_clan{
    background: #57c1d99b;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 20px;
}

.how_join{
    background: #63eb9086;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 20px;
}

.rules{
    background: #f58c8c86;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 20px;
}

.logo{
    border: 1px solid red;
    border-radius: 20px;
    margin: 10px 0px;
}

.body{
    max-width: 900px;
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    list-style-type: none;
    border: 1px solid #2f3030;
    background-color: #2f3030;
/*  margin: auto;*/
    padding: 0px;
    text-align:center;
    border-radius: 20px;
    max-width:900px;
    
    
    
    
}

.menu a{
    display: block;
    color:antiquewhite;
    padding: 10px;
    text-align:center;
    margin: auto;
    
}

.menu a:hover{
    background-color:antiquewhite;
    color:#2f3030;
    display: block;
    text-align:center;
    transition: 0.3s;
}
.menu a:not(hover){
    transition: 0.3s;
}
.menu a.radius-left{
    border-radius: 20px 0px 0px 20px;
}

.menu a.radius-right{
    border-radius: 0px 20px 20px 0px
}